<section class="principal-section">
    <div class="card">
        <h3>@nathanf</h3>
        <h1>1987</h1>
        <p class="card-p">
            FOLLOWERS
        </p>
        <p class="positive">12</p>
    </div>
    <div class="card">
        <h3>@nathanf</h3>
        <h1>1044</h1>
        <p class="card-p">
            FOLLOWERS
        </p>
        <p class="positive">99</p>
    </div>
    <div class="card">
        <h3>realnathanf</h3>
        <h1>11k</h1>
        <p class="card-p">
            FOLLOWERS
        </p>
        <p class="positive">1099</p>
    </div>
    <div class="card">
        <h3>nathan F.</h3>
        <h1>8239</h1>
        <p class="card-p">
            SUSCRIBERS
        </p>
        <p class="negative"> 144 Today</p>
    </div>
</section>
<section class="secundary-section">
    <h2>Overview - Today</h2>
    <div class="mini-cards">
        <div class="sub-mini-cards-1">
            <div class="mini-card">
                <div class="sub-mini-card-1">
                    <p>page views</p>
                    <h1>87</h1>
                </div>
                <div class="sub-mini-card-2">
                 <img src="./assets/images/icon-facebook.svg" alt="Facebook" class="social-media-icon">
                 <span class="positive">3</span>
                </div>

            </div>
            <div class="mini-card">
                <div class="sub-mini-card-1">
                    <p>page views</p>
                    <h1>52</h1>
                </div>
                <div class="sub-mini-card-2">
                  <img src="./assets/images/icon-facebook.svg" alt="Facebook" class="social-media-icon">
                  <span class="negative">2</span>
                </div>

            </div>
            <div class="mini-card">
                <div class="sub-mini-card-1">
                    <p>page views</p>
                    <h1>5462</h1>
                </div>
                <div class="sub-mini-card-2">
                  <img src="./assets/images/icon-instagram.svg" alt="Instagram" class="social-media-icon">
                  <span class="positive">2257</span>
                </div>

            </div>
            <div class="mini-card">
                <div class="sub-mini-card-1">
                    <p>page views</p>
                    <h1>52k</h1>
                </div>
                <div class="sub-mini-card-2">
                  <img src="./assets/images/icon-instagram.svg" alt="Instagram" class="social-media-icon">
                  <span class="positive">1375</span>
                </div>

            </div>
        </div>
        <div class="sub-mini-cards-2">
            <div class="mini-card">
                <div class="sub-mini-card-1">
                    <p>page views</p>
                    <h1>117</h1>
                </div>
                <div class="sub-mini-card-2">
                  <img src="./assets/images/icon-twitter.svg" alt="Twitter" class="social-media-icon">
                  <span class="positive">303</span>
                </div>

            </div>
            <div class="mini-card">
                <div class="sub-mini-card-1">
                    <p>page views</p>
                    <h1>507</h1>
                </div>
                <div class="sub-mini-card-2">
                  <img src="./assets/images/icon-twitter.svg" alt="Twitter" class="social-media-icon">
                  <span class="positive">553</span>
                </div>

            </div>
            <div class="mini-card">
                <div class="sub-mini-card-1">
                    <p>page views</p>
                    <h1>107</h1>
                </div>
                <div class="sub-mini-card-2">
                  <img src="./assets/images/icon-youtube.svg" alt="Youtube" class="social-media-icon">
                  <span class="negative">19</span>
                </div>

            </div>
            <div class="mini-card">
                <div class="sub-mini-card-1">
                    <p>page views</p>
                    <h1>1407</h1>
                </div>
                <div class="sub-mini-card-2">
                  <img src="./assets/images/icon-youtube.svg" alt="Youtube" class="social-media-icon">
                  <span class="negative">12</span>
                </div>

            </div>
        </div>
    </div>
</section>
