@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
*{
    font-family: 'Inter', sans-serif;
}

.principal-section{
    display: flex;
    justify-content:space-around;
    padding:30px;
}
.card{
    background-color:hsl(227, 47%, 96%);
    width:220px;
    height:180px;
    text-align:center;
    border-radius:5px;
    line-height:20px;
    h3{
        font-size:12px;
    }
    h1{
        font-size:40px;
    }
    .card-p{
        font-weight:400;
        font-size:15px;
        letter-spacing:5px;
        margin-top:-20px;
    }
    .positive{
        color: hsl(163, 72%, 41%);
        font-size:15px;
        font-weight:700;
    }
    .negative{
        color:hsl(356, 69%, 56%);
        font-size:15px;
        font-weight:700;
    }
}
.principal-section .card:nth-child(1){
    border-top:5px solid hsl(208, 92%, 53%);
    border-radius:5px;
}
.principal-section .card:nth-child(2){
    border-top:5px solid hsl(203, 89%, 53%);
    border-radius:5px;
}
.principal-section .card:nth-child(3){
    border-top:5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    border-radius:5px;
}
.principal-section .card:nth-child(4){
    border-top:5px solid hsl(348, 97%, 39%);
    border-radius:5px;
}
.secundary-section{
    margin-top:20px;
    padding:30px;
    h2{
        font-size:20px
    }
    .sub-mini-cards-1{
        display: flex;
        justify-content:space-around;
    }
    .sub-mini-cards-2{
        display: flex;
        justify-content:space-around;
    }
}
.mini-card{
    background-color:hsl(227, 47%, 96%);
    width:220px;
    height:180px;
    text-align:center;
    border-radius:5px;
    line-height:20px;
    margin-top:10px;
    margin-bottom:10px;
    .sub-mini-card-1{
        display: flex;
        flex-direction: column;
    }
}
